@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Games Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index"></a>
                <ul class="navbar-nav flex-grow-1">
                    <li><a asp-controller="Home" asp-action="Index">Home &ensp;</a></li>
                    <li><a asp-controller="Forum" asp-action="Index">Forums</a></li>
                </ul>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Profile</li>
                                    <li><a asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">MyProfile</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Admin</li>
                                        <li><a asp-controller="Forum" asp-action="Create">Create Forum</a></li>
                                        <li><a asp-controller="Profile" asp-action="index">View Users</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <ul class="nav navbar-nav navbar-right userOperations">
                            <li><a asp-controller="Account" asp-action="Login">Sign In / </a></li> &ensp;
                            <li class="active"><a asp-controller="Account" asp-action="Register">Register</a></li>
                        </ul>
                    }

                    @if (SignInManager.IsSignedIn(User))
                    {

                        <ul class="nav navbar-nav navbar-right">
                            <li>Hello, @UserManager.GetUserName(User) &ensp;</li>
                            <li><a asp-controller="Account" asp-action="Logout">Logout &ensp;</a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container divContent">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
