@model Games_Forum.Models.Profile.ProfileModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<title>@Model.UserName Profile</title>
    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading">
                User Profile
            </div>
        </div>
        <div class="row userProfile">
            <div class="col-md-4">
                <div id="userProfileImage" style="background-image: url('')"></div>
            </div>
            <div class="col-md-8">
                <span id="userName">@Model.UserName</span>
                @if (Model.IsAdmin)
                {
                    <span class="isAdmin">Admin</span>
                }
                <span id="userRating">Current Rating @Model.UserRating</span>
                <span id="userEmailLabel">Email: @Model.Email</span>
                <span id="userCreatedLabel">Member Since: @Model.MemberSince</span>
            </div>
        </div>
    </div>